.animal-option {
    margin: 2px;
    padding: 0px 5px 0px 5px;
}

.card-rating {
    font-weight: bold;
    padding: 1px;
}

.animal-card {
    margin: 2px;
    border:none;
}

.btn-array,
.btn-menu {
    text-align: center;
}

#input-field,
#submitBtn {
    width: 100%;
}

#submitBtn,
.pgBtn {
    margin-top: 2px;
}

.pgBtn {
    width: 48%;
}

@media (max-width: 768px) {
    .col-results {
        text-align:center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
}